body{
    margin: 0%;
    padding: 0%;
    background-color: rgb(247, 247,151);
}
i{
    position: absolute;
    font-size: 90px;
    transform: translate(-50%, -50%);
    top: 50%;
    margin-left: 50%;
}
h1{
    text-align: center;
    font-family: monospace;
    font-size: 50px;
    font-weight: bold;
}
